.header img {
    width: 150px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .login {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    margin: 0 1rem;
    cursor: pointer;
}

.header .login:hover {
    text-decoration: underline;
}

.header .cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .flex-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.header .flex-cart:hover {
    text-decoration: underline #333;
}

@media (max-width: 767px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .header .d-flex {
        margin: 10px 0;
    }
}